extends: default

rules:
  line-length: disable
  document-start: disable
  truthy:
    allowed-values:
      - 'true'
      - 'false'
      - 'yes'
      - 'no'
      - 'on'
      - 'off'
    check-keys: false
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
